REDIS = {
    'tasks': {
        'HOST': 'redis',
        'PORT': 6379,
        'DATABASE': 0,
        'SSL': False,
    },
    'caching': {
        'HOST': 'redis',
        'PORT': 6379,
        'DATABASE': 1,
        'SSL': False,
    },
}
