version: '3'
services:
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    env_file:
      - postgres.env
    volumes:
      - db:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - redis:/data
  netbox:
    image: netboxcommunity/netbox:{{ netbox_version }}
    depends_on:
      - postgres
      - redis
    env_file:
      - netbox.env
    ports:
      - "{{ zerotier_ip }}:{{ netbox_port }}:8080"
    volumes:
      - ./configuration.py:/etc/netbox/config/configuration.py:ro
      - netbox-media:/opt/netbox/netbox/media
    restart: unless-stopped
volumes:
  db:
  redis:
  netbox-media:
