services:
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    env_file:
      - postgres.env
    volumes:
      - db:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    env_file:
      - redis.env
    command:
      - sh
      - -c
      - exec redis-server --appendonly yes --requirepass "$$REDIS_PASSWORD"
    healthcheck:
      test: ["CMD-SHELL", "REDISCLI_AUTH=\"$$REDIS_PASSWORD\" redis-cli ping | grep -q PONG"]
    volumes:
      - redis:/data
  netbox:
    image: netboxcommunity/netbox:{{ netbox_version }}
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_healthy
    env_file:
      - netbox.env
    ports:
      - "{{ netbox_zerotier_ip }}:{{ netbox_port }}:8080"
    volumes:
      - ./configuration.py:/etc/netbox/config/configuration.py:ro
      - netbox-media:/opt/netbox/netbox/media
    restart: unless-stopped
volumes:
  db:
  redis:
  netbox-media:
