ALLOWED_HOSTS=*
DB_HOST=postgres
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD={{ lookup('env', 'NETBOX_DB_PASSWORD') }}
REDIS_HOST=redis
REDIS_PASSWORD={{ lookup('env', 'NETBOX_REDIS_PASSWORD') }}
SECRET_KEY={{ lookup('env', 'NETBOX_SECRET_KEY') }}
