ALLOWED_HOSTS=*
DB_HOST=postgres
DB_NAME={{ netbox_db_name }}
DB_USER={{ netbox_db_user }}
DB_PASSWORD={{ netbox_db_password }}
REDIS_HOST=redis
REDIS_PASSWORD={{ netbox_redis_password }}
SECRET_KEY={{ netbox_secret_key }}
