version: '3.7'

services:
  mysql:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "{{ semaphore_db_root_password }}"
      MYSQL_DATABASE: "{{ semaphore_db_name }}"
      MYSQL_USER: "{{ semaphore_db_user }}"
      MYSQL_PASSWORD: "ololtest"
    volumes:
      - {{ semaphore_data_dir }}/mysql-data:/var/lib/mysql

  semaphore:
    image: ansiblesemaphore/semaphore:latest
    restart: always
    depends_on:
      - mysql
    ports:
      - "{{ semaphore_port }}:3000"
    environment:
      SEMAPHORE_DB_USER: "{{ semaphore_db_user }}"
      SEMAPHORE_DB_PASS: "{{ semaphore_db_pass }}"
      SEMAPHORE_DB_HOST: "{{ semaphore_db_host }}"
      SEMAPHORE_DB_PORT: "{{ semaphore_db_port }}"
      SEMAPHORE_DB: "{{ semaphore_db_name }}"
      SEMAPHORE_ADMIN: "{{ semaphore_admin_user }}"
      SEMAPHORE_ADMIN_PASSWORD: "{{ semaphore_admin_password }}"
      SEMAPHORE_ADMIN_NAME: "{{ semaphore_admin_name }}"
      SEMAPHORE_ADMIN_EMAIL: "{{ semaphore_admin_email }}"
    volumes:
      - {{ semaphore_data_dir }}/config:/config
