version: '3'
services:
  dashy:
    image: lissy93/dashy:latest
    restart: unless-stopped
    ports:
      - "{{ zerotier_ip }}:4000:8080"
    volumes:
      - dashy-data:/app/user-data
volumes:
  dashy-data:
