version: '3'
services:
  db:
    image: mysql:5
    restart: unless-stopped
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: {{ semaphore_db_name }}
      MYSQL_USER: {{ semaphore_db_user }}
      MYSQL_PASSWORD: {{ semaphore_db_pass }}
    volumes:
      - db:/var/lib/mysql
  semaphore:
    image: semaphoreui/semaphore:{{ semaphore_version }}
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      SEMAPHORE_DB_DIALECT: mysql
      SEMAPHORE_DB_HOST: db
      SEMAPHORE_DB_PORT: 3306
      SEMAPHORE_DB: {{ semaphore_db_name }}
      SEMAPHORE_DB_USER: {{ semaphore_db_user }}
      SEMAPHORE_DB_PASS: {{ semaphore_db_pass }}
      SEMAPHORE_ADMIN: {{ semaphore_admin }}
      SEMAPHORE_ADMIN_PASSWORD: {{ semaphore_admin_password }}
    depends_on:
      - db
volumes:
  db:
