# yamllint disable-file
[Unit]
Description=rclone mount for pCloud
After=network-online.target
Wants=network-online.target
AssertPathIsDirectory={{ pcloud_mount_point }}

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount pcloud: {{ pcloud_mount_point }} {{ pcloud_rclone_options | join(' ') }} --config {{ pcloud_config_file }}
ExecStop=-/usr/bin/fusermount3 -u -z {{ pcloud_mount_point }}
KillMode=mixed
Restart=on-failure
RestartSec=5s
User=root
Group={{ pcloud_group }}
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
