# yamllint disable-file
[Unit]
Description=rclone mount for pCloud
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount pcloud: {{ pcloud_mount_point }} {{ pcloud_rclone_options | join(' ') }} --config {{ pcloud_config_file }}
ExecStop=/bin/fusermount -u {{ pcloud_mount_point }}
ExecStopPost=/usr/bin/umount -l {{ pcloud_mount_point }}
KillMode=process
Restart=on-failure
User=root
Group=root
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
