version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "{{ jenkins_port }}:8080"
      - "50000:50000"
    volumes:
      - {{ jenkins_data_dir }}:/var/jenkins_home
    restart: unless-stopped
